/* normalize css */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}

/* styles */
* {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
html,
body {
  height: 100%;
}
body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  background-size: 100%;
  justify-content: center;
  background-image: url(/assets/Game_background.png);
}
body::before {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
header {
  top: 0;
  left: 0;
  z-index: 1;
  color: orange;
  width: 100%;
  background: #241400;
  padding: 10px;
  display: flex;
  font-size: 36px;
  box-shadow: 0px 10px 50px 0px rgba(255, 255, 255, 1);
}
main {
  height: 100%;
}
.scoreAmount,
.hpAmount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  float: left;
}
.logo img {
  max-width: 50px;
  float: left;
  margin: 10px;
}
.score,
.hp {
  margin: 10px 30px 10px 30px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}
.btnStart {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 50px;
  font-size: 24px;
  border: 1px solid orange;
  border-radius: 20px;
  color: orange;
  background: #241400;
}
.btnStart:hover {
  background: #441400;
}
